/*------------------------------------- GRID A TODO EL DOCUMENTO -------------------------------------------*/

body {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.7fr 4fr 0.5fr;
    grid-template-areas: "header header header" "section1 main section2" "footer footer footer";
    background-color: #000;
    padding: 0%;
    column-gap: 1.5%;
    row-gap: 0.3%;
}

header {
    grid-area: header;
    text-align: center;
    padding-top: 2%;
    background-color: transparent;
}

section1 {
    grid-area: section1;
    text-align: center;
    padding-top: 15%;
}

section2 {
    grid-area: section2;
    text-align: center;
    padding-top: 15%;
}

footer {
    grid-area: footer;
    text-align: center;
    align-items: center;
    padding-top: 1%;
}

main {
    grid-area: main;
    display: flex;
    /*para que se enrolle a cambio de tamaño */
    flex-wrap: wrap;
    gap: 1em 1em;
    background-color: green;
    color: #000;
}

.grid-item {
    background-color: #f0f0f0;
    font-size: 110%;
}


/*.responsive-img {
    max-width: 100%;
    max-height: 100%;
}*/

.carta {
    background-color: honeydew;
    display: flex;
    border-radius: 50%;
    text-align: center;
    padding-top: 2em;
    height: 10em;
    width: 7em;
}